* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-blueone: #156cdf;
    --color-black: #000;
    --color-blue: #073fcc;
    --color-purple: #5f01ac;
}

html {
    scroll-behavior: smooth;
    font-size: 12px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 15px 30px;
    position: fixed;

    background: 'transparent';
    transition: all .3s ease-out;

    z-index: 2;
}

.header-title{
    text-decoration: none;
}
.header-title h1{
    color: var(--color-white);
    font-size: 2rem;
    transition: opacity .3s ease;
}
.header-title h1:hover{
    opacity: .8;
}
.nav-bar{
    max-width: 350px;
    width: 100%;
}
.nav-bar ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-bar ul li{
    list-style: none;
}
.nav-bar ul li a{
    text-decoration: none;
    color: var(--color-white);

    font-size: 1.4rem;
    font-weight: 700;
    
}

#person {
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;

    background: var(--color-black);
}

.person-content {
    height: 100%;
    width: 50%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;

    background: var(--color-black);
}

.person-content div h1{
    padding: 0px 4px;
    color: transparent;

    font-size: 4.5rem;
    line-height: 6rem;

    width: fit-content;
    position: relative;

    animation: written_text .5s ease forwards;
}

.person-content div h1:nth-child(1){
    animation-delay: 1s;
}
.person-content div h1:nth-child(2){
    animation-delay: 2s;
}
.person-content div h1:nth-child(3){
    animation: written_text_name .5s ease forwards;
    animation-delay: 3s;
}

.person-content div h1 span{
    position: absolute;
    top: 0;
    left: 0;

    width: 0px;
    height: 100%;
    background: var(--color-blueone);
    
    animation: written_text_box 1s ease;
    animation-delay: .5s;
}

.person-content div h1:nth-child(1) span{
    animation-delay: .5s;
}
.person-content div h1:nth-child(2) span{
    animation-delay: 1.5s;
}
.person-content div h1:nth-child(3) span{
    animation-delay: 2.5s;
}

.person-name {
    margin-top: 11rem;
}

.stacks-content{
    display: flex;
    
    justify-content: center;

    flex-direction: column;
    margin-top: 6rem; 
}

.stacks-content h3{
    color: var(--color-white);
    font-size: 1.15rem;

    margin-left: 20px;
}

.stacks {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.stacks ul li {
    display: flex;
    align-items: center;

    position: relative;

    margin: 10px;
    padding: 10px;

    list-style: none;
}

.stacks ul li img{
    width: 30px;
    height: auto;
    transition: transform .3s ease;
}


.stacks ul li div img:hover {
   transform: scale(1.2);
   cursor: pointer;
}

.stacks ul li div:hover::after{
    content: attr(data);
    position: absolute;
    top: 50px;
    left: 10px;

    width: 20px;
    height: 20px;

    color: var(--color-white) ;
}


.person-background {
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    flex-direction: column;

    background-image: url(./img/fotis-fotopoulos-SyvsTmuuZyM-unsplash.jpg);
    background-size: cover;
    background-position: top center;

    z-index: 1;
}

.person-background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    opacity: .7;
    z-index: -1;

    background:
        linear-gradient(90deg, transparent 30%, var(--color-black)),
        linear-gradient(180deg, transparent 30%, var(--color-black)),
        linear-gradient(0deg, transparent 65%, var(--color-black))
} 

.links a img {
    width: 30px;
    height: 30px;

    margin: 10px;
    filter: brightness(0.8);
    transition: all .3s ease;
}

.links a img:hover {
    transform: scale(1.15);
    filter: brightness(1);
}
.wrapper-profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 14px;
    margin: 20px 15px;

    border-radius: 50%;

    background: radial-gradient(rgba(0, 0, 0, 0.15) 100%, #00000000 0), radial-gradient(#084b99 67%, #00000000 0), linear-gradient(to top right, #00000054 41%, #000000 100%);
}
 
.wrapper-profile-photo img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
}

.profile-photo{
    border-radius: 50%;
}

#about {
    height: 100vh;
    width: 100%;
    background: var(--color-black);
    
    display: flex;
    color: var(--color-white);
}

.background-about {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper{
    height: 100%;
    width: 100%;

    position: relative;
}

.img-wrapper::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background: 
    linear-gradient(.25turn, transparent 30%, var(--color-black)),
    linear-gradient(.5turn, transparent 30%, var(--color-black)),
    linear-gradient(1turn, transparent 65%, var(--color-black));
}

.img-wrapper img{
    height: 100%;
    width: 100%;

    object-fit: cover;

}

.box-about{
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 50%;
    
    padding: 3rem; 
}
.section-subtitle h2 p {
    display: inline-block;
    font-size: 3rem;
}
.section-subtitle h2 p:nth-child(2) span {
    font-size: 3px 5px;
    border-radius: 4px;

    color: var(--color-white);
}
.box-about h3 {
    margin: 3rem;
    font-size: 2rem;
}
.box-about h3 p{
    display: inline-block;

    width: fit-content;
    padding: 2px 4px;
    border-radius: 4px;

    color: var(--color-black);
    background: var(--color-blueone);
    
}

.box-about h4{
    margin: 1rem 3rem;
    font-size: 1.5rem;
}

.box-about h4 p{
    display: inline;
    padding: 2px 4px;

    color: var(--color-blueone);
    font-size: bold;
    font-size: 1.75rem;
}

.button-cta {
    display: flex;
    max-width: 190px;
    margin: 4rem 3rem;
}

.button-cta a{
    display: inline-block;

    width: 100%;
    max-width: 172px;

    padding: 10px;
    margin-bottom: 3rem;

    text-align: center;
    font-size: 14.3px;
    font-family:  "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: .15rem;
    color: var(--color-black);
    background: var(--color-white);
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

.button-cta a:hover {
    transition: all .3s ease;
    filter: brightness(.8);
}

#projects{
    height: 100vh;
    width: 100%;
    background: var(--color-black);

    display: flex;
    flex-direction: column;

    color: var(--color-white);
}

.projects-title h2{
    margin: 3rem;
    padding: 1rem;

    font-size: 3rem;
    color: var(--color-white);
}

.wrapper-projects{
    display: flex;
    margin-top: 2rem;

    height: 500px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.card-project{
    width: 320px;
    height: 450px;

    padding: 30px 20px 20px;
    margin: 0px 10px;
    
    position: relative;
    background: var(--color-white);

    display: flex;
    align-items: center;
    flex-direction: column;

    border-radius: 20px;
}

.card-project::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    height: 40%;
    width: 100%;

    background: var(--color-blue);
    border-radius: 20px 20px 0px 0px;
}

.content-project{
    height: 100%;
    width: 100%;

    
    display: flex;
    flex-direction: column;

    z-index: 1;
}
.image-project{
    height: 240px;
    width: 250px;

    overflow: hidden;
    border-radius: 30px;
    position: relative;

    border: 4px solid var(--color-blue);

    margin: 0 auto;
}
.image-project a img{
    height: 100%;
    width: 100%;
    border-radius: 30px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;

    border: 2px solid var(--color-white);
    transition: transform .3s ease-out;
    cursor: pointer;
}

.image-project img:hover{
    transform: scale(1.1);
}

.content-project span {
    color: var(--color-black);
    font-weight: bold;
    font-size: 1.7rem;
    margin: .75rem auto .5rem auto;
}

.content-project p{
    color: #3d3d4b;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0rem;
}
.cta-project-site{
    width: 90px;
    margin: auto auto 15px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta-project-site a{
    padding: 5px 16px;
    font-size: 1.25rem;
    color: var(--color-white);
    background: var(--color-blue);

    border-radius: 10px;
    text-decoration: none;
    transition: opacity .3s ease;
}

.cta-project-site a:hover{
    opacity: .7;
}

.cta-project{
    width: 215px;  
    margin: auto auto 15px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta-project a{
    padding: 5px 16px;
    font-size: 1.25rem;
    color: var(--color-white);
    background: var(--color-blue);

    border-radius: 10px;

    text-decoration: none;
    transition: opacity .3s ease;
}

.cta-project a:hover{
    opacity: .7;
}

#contacts{
    display: flex;
    flex-direction: column;

    height: 40vh;
    width: 100%;

    background: var(--color-black);

    /* color: var(--color-white); */
}

.contact-title h2{
    margin: 3rem 3rem;
    padding: 1rem 1rem;

    font-size: 3rem;
    color: var(--color-white);    
}

.contact-icon-wrapped{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.contact-icon-content{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0rem 3rem;
    padding: 1rem;
    color: #fff;
}

.contact-icon{
    height: 40px;  
    width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 2rem;
    background: #fff;
    border-radius: 50%;
    padding: 1rem;
}

.contact-icon i {
    font-size: 2rem;
    color: var(--color-black);
}

.contact-info span{
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
}

.contact-info p{
    margin: .25rem 0rem;
}

.contact-info a{
    margin: .25rem 0rem;
    text-decoration: none;
    color: var(--color-white);
}

.contact-info a:hover{
    transition: color .3s ease;
    color: var(--color-blue);
}

#footer{
    height: 15vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: auto;

    background: var(--color-black);

    font-family: "Montserrat", sans-serif;
}

.container-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--color-white);
}


/* Responsividade - Desktop Grande */
@media (min-width: 1200px) {
    .wrapper-profile-photo img {
        max-width: 350px;
        max-height: 350px;
    }
    
    .person-content div h1 {
        font-size: 4.5rem;
        line-height: 6rem;
    }
}

/* Responsividade - Tablet */
@media (max-width: 1024px) and (min-width: 769px) {
    html {
        font-size: 14px;
    }
    
    .person-content div h1 {
        font-size: 3.5rem;
        line-height: 4.5rem;
    }
    
    .wrapper-profile-photo img {
        max-width: 250px;
        max-height: 250px;
    }
    
    .card-project {
        width: 280px;
        height: 400px;
    }
    
    .image-project {
        height: 200px;
        width: 220px;
    }
    
    .wrapper-projects {
        gap: 1.5rem;
    }
    
    .box-about {
        padding: 2rem;
    }
    
    .section-subtitle h2 p {
        font-size: 2.5rem;
    }
    
    .box-about h3 {
        margin: 2rem;
        font-size: 1.8rem;
    }
    
    .box-about h4 {
        margin: 1rem 2rem;
        font-size: 1.3rem;
    }
}

/* Responsividade - Mobile */
@media (max-width: 768px) {
    html {
        font-size: 12px;
    }

    #header {
        padding: 15px 10px;
        width: 100%;
    }

    body {
        font-size: 10px;
    }

    #about,
    #person,
    #projects,
    #contacts,
    #footer {
        height: auto;
        width: 100%;
        min-height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* Seção Person */
    #person {
        flex-direction: column;
        padding: 2rem 0;
    }

    .person-content {
        width: 100%;
        order: 2;
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .person-background {
        width: 100%;
        order: 1;
        min-height: 60vh;
    }

    .person-content div h1 {
        font-size: 3rem;
        line-height: 4rem;
        text-align: center;
    }

    .person-name {
        margin-top: 2rem;
    }

    .stacks {
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .stacks ul li {
        margin: 5px;
        padding: 5px;
    }

    .stacks ul li img {
        width: 25px;
        height: 25px;
    }

    .wrapper-profile-photo img {
        max-width: 200px;
        max-height: 200px;
    }

    /* Seção About */
    #about {
        flex-direction: column;
        padding: 2rem 0;
    }

    .background-about {
        display: none;
    }

    .box-about {
        width: 90%;
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .section-subtitle h2 p {
        font-size: 2.5rem;
        text-align: center;
    }

    .box-about h3 {
        margin: 1.5rem 0;
        font-size: 1.5rem;
        text-align: center;
    }

    .box-about h4 {
        margin: 1rem 0;
        font-size: 1.2rem;
        text-align: center;
    }

    .button-cta {
        margin: 2rem auto;
        justify-content: center;
    }

    /* Seção Projects */
    #projects {
        padding: 2rem 0;
    }

    .projects-title h2 {
        text-align: center;
        margin: 2rem;
        font-size: 2rem;
    }

    .wrapper-projects {
        flex-direction: column;
        height: auto;
        gap: 2rem;
        padding: 0 1rem;
        align-items: center;
        justify-content: center;
    }

    .card-project {
        width: 100%;
        max-width: 320px;
        height: auto;
        min-height: 400px;
        padding: 2rem 1rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .image-project {
        height: 200px;
        width: 100%;
        max-width: 250px;
    }

    /* Seção Contacts */
    #contacts {
        padding: 2rem 0;
    }

    .contact-title h2 {
        text-align: center;
        margin: 1rem 2rem;
        padding: 0;
        font-size: 2rem;
    }

    .contact-icon-wrapped {
        flex-direction: column;
        gap: 1rem;
        padding: 0 1rem;
        align-items: center;
        justify-content: center;
    }

    .contact-icon-content {
        margin: 0 auto;
        padding: 1rem;
        flex-direction: column;
        text-align: center;
        width: 100%;
        max-width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-icon {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    /* Footer */
    #footer {
        padding: 2rem 1rem;
    }

    .container-footer h3 {
        font-size: 1.5rem;
        text-align: center;
    }

    .container-footer p {
        font-size: 1rem;
        text-align: center;
    }

    .container-footer a {
        text-decoration: none;
        color: var(--color-white);
    }

    .container-footer a:hover {
        transition: color .3s ease;
        color: var(--color-blue);
    }

    .container-footer i {
        font-size: 1.5rem;
    }

    .container-footer img {
        width: 30px;
        height: 30px;
        margin: 10px;
        filter: brightness(0.8);
        transition: all .3s ease;
    }

    .container-footer img:hover {
        transform: scale(1.15);
        filter: brightness(1);
    }

    .container-footer span {
        font-size: 1.2rem;
        font-weight: bold;
    }
}

/* Responsividade - Mobile Pequeno */
@media (max-width: 480px) {
    html {
        font-size: 10px;
    }

    .person-content div h1 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .wrapper-profile-photo img {
        max-width: 150px;
        max-height: 150px;
    }

    .stacks ul li img {
        width: 20px;
        height: 20px;
    }

    .section-subtitle h2 p {
        font-size: 2rem;
    }

    .box-about h3 {
        font-size: 1.3rem;
    }

    .box-about h4 {
        font-size: 1rem;
    }

    .projects-title h2 {
        font-size: 1.8rem;
    }

    .contact-title h2 {
        font-size: 1.8rem;
    }

    .card-project {
        max-width: 280px;
        min-height: 350px;
        margin: 0 auto;
    }

    .image-project {
        height: 180px;
        max-width: 200px;
    }

    .content-project span {
        font-size: 1.4rem;
    }

    .content-project p {
        font-size: 1rem;
    }

    .contact-icon-content {
        max-width: 250px;
        margin: 0 auto;
    }
}

/* Responsividade - Mobile Muito Pequeno */
@media (max-width: 360px) {
    html {
        font-size: 9px;
    }

    .person-content div h1 {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }

    .wrapper-profile-photo img {
        max-width: 120px;
        max-height: 120px;
    }

    .stacks ul li img {
        width: 18px;
        height: 18px;
    }

    .card-project {
        max-width: 250px;
        min-height: 320px;
        margin: 0 auto;
    }

    .image-project {
        height: 160px;
        max-width: 180px;
    }

    .section-subtitle h2 p {
        font-size: 1.8rem;
    }

    .box-about h3 {
        font-size: 1.2rem;
    }

    .box-about h4 {
        font-size: 0.9rem;
    }

    .projects-title h2 {
        font-size: 1.6rem;
    }

    .contact-title h2 {
        font-size: 1.6rem;
    }
}

@keyframes written_text {
    100% {
        color: var(--color-white);
    }
}
    @keyframes written_text_name {
    100% {
        color: var(--color-blue);
    }
}
    @keyframes written_text_box {
    50% {
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
